.root{
    -fx-background-color: white;
}

BorderPane{
    -fx-background-image: url("//resources/images/eight.jpg");
    -fx-background-size: stretch;
}

#GridChoose{
    -fx-background-color: antiquewhite;
}

#properties{

    -fx-background-image: url("//resources/images/codebackground2.jpg");;
}

#helpAnchorPane{
    -fx-background-image: url("//resources/images/help.jpg");
    -fx-background-size: stretch;
}

#chooseBackground{
    -fx-background-image: url("//resources/images/codebackground2.jpg");
    -fx-background-size: stretch;
}

ImageView{
    /*the eight*/
    -fx-image: url("//resources/images/h1.png");
}

#RoniImage{
    -fx-image: url("//resources/images/characters_goals/Roni.jpg");
    -fx-background-color: green;
}

#NiniImage{
    -fx-image: url("//resources/images/characters_goals/Nini.jpg");
    -fx-background-color: green;
}

#NatashaImage{
    -fx-image: url("//resources/images/characters_goals/Natasha.jpg");
    -fx-background-color: green;
}
#MikaImage{
    -fx-image: url("//resources/images/characters_goals/Mika.jpg");
    -fx-background-color: green;
}

#DoriImage{
    -fx-image: url("//resources/images/characters_goals/Dori.jpg");
    -fx-background-color: green;
}
#AviImage{
    -fx-image: url("//resources/images/characters_goals/Avi.jpg");
    -fx-background-color: green;
}

#AdamImage{
    -fx-image: url("//resources/images/characters_goals/Adam.jpg");
    -fx-background-color: green;
}
#AyaImage{
    -fx-image: url("//resources/images/characters_goals/Aya.jpg");
    -fx-background-color: green;
}
TextArea{
    -fx-alignment: center;
    -fx-text-fill: Black;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
}
Text{
    -fx-font-size: 18;
    -fx-text-fill: Black;
    -fx-font-family: "Arial";
}
#pivot, #enjoy{
    -fx-font-size: 18;
    -fx-text-fill: White;
    -fx-font-family: "Arial";
    -fx-font-weight: bold italic;
}

#instructions{
    -fx-text-fill: White;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold italic;
    -fx-underline: true;
    -fx-font-size: 26;
}

#welcome, #chooseLabel{
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold italic;
    -fx-font-size: 26;
}

Button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold italic;
    -fx-font-size: 22;
    -fx-background-color: linear-gradient(#d8c495,#d8a52a);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

#buttonBack, #buttonPlay {
    -fx-font-size: 16;
}

Button:hover {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}


#Adam:focused{
    -fx-background-color: linear-gradient(#be95d8,#7d60c1);
}
#Avi:focused{
    -fx-background-color: linear-gradient(#be95d8,#7d60c1);
}

#Aya:focused{
    -fx-background-color: linear-gradient(#be95d8,#7d60c1);
}

#Dori:focused{
    -fx-background-color: linear-gradient(#be95d8,#7d60c1);
}

#Mika:focused{
    -fx-background-color: linear-gradient(#be95d8,#7d60c1);
}

#Natasha:focused{
    -fx-background-color: linear-gradient(#be95d8,#7d60c1);
}

#Nini:focused{
    -fx-background-color: linear-gradient(#be95d8,#7d60c1);
}

#Roni:focused{
    -fx-background-color: linear-gradient(#be95d8,#7d60c1);
}




